* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}
body {
    min-height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-container {
    background-color: hsl(214, 19%, 14%);
    border-radius: 1.5rem;
    max-width: 100%;
    margin: 2rem 1rem;
    padding: 2rem;
}
.hidden {
    display: none;
}
#thankYou {
    text-align: center;
}
.rateValueDiv {
    background: hsl(218, 10%, 21%);
    color:hsl(25, 97%, 53%);
    border-radius: 1rem;
    padding: 0.5rem 0;
    max-width: 55%;
    margin: auto;
    margin-top: 1.5rem;
}
.circle {
    cursor: pointer;
    border-radius: 100%;
    background-color: hsl(218, 10%, 21%);
    padding: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.circle:hover {
    background-color: hsl(217, 12%, 63%);
    transition-duration: 150ms;
}
.circle:has(.input-rate:checked) {
    background-color: hsl(25, 97%, 53%);
    color: white;
}
.circle .input-rate {
    display: none;
}
.circle label {
    padding: 1.5rem;
    border-radius: 100%;
}
.card-container .numbers {
    display: flex;
    width: 100%;
    justify-content: space-between
}
.card-container .number-rate {
    color: hsl(217, 12%, 63%);
    font-weight: 600;
}
.card-container .number-rate:hover {
    color: white;
}
h1 {
    color: white;
    font-size: 1.8rem;
    margin-top: 2rem;
}
p {
    font-size: 15px;
    line-height: 25px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: hsl(217, 12%, 63%);
}
.btn-primary {
    cursor: pointer;
    background-color: hsl(25, 97%, 53%);
    text-transform: uppercase;
    color: white;
    width: 100%;
    border-radius: 2rem;
    border: none;
    margin-top: 2rem;
    padding: 1rem 0;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 1rem;
}
.btn-primary:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
    transition-duration: 150ms;
    font-weight: 700;
}
@media(min-width:768px) {
    .card-container {
        max-width: 30%;
    }
}